<?xml version="1.0" encoding="UTF-8"?>
<Autodiscover xmlns="http://schemas.microsoft.com/exchange/autodiscover/responseschema/2006">
  <Response xmlns="http://schemas.microsoft.com/exchange/autodiscover/outlook/responseschema/2006a">
    <User>
      <DisplayName>{{ display_name }}</DisplayName>
    </User>
    <Account>
      <AccountType>email</AccountType>
      <Action>settings</Action>
      <Protocol>
        <Type>IMAP</Type>
        <Server>{{ imap_server }}</Server>
        <Port>{{ imap_port }}</Port>
        <SPA>off</SPA>
        <Encryption>Auto</Encryption>
        <SSL>on</SSL>
        <AuthRequired>on</AuthRequired>
        <DomainRequired>off</DomainRequired>
        <LoginName>{{ username }}</LoginName>
      </Protocol>
      <Protocol>
        <Type>POP3</Type>
        <Server>{{ pop3_server }}</Server>
        <Port>{{ pop3_port }}</Port>
        <SPA>off</SPA>
        <Encryption>Auto</Encryption>
        <SSL>on</SSL>
        <AuthRequired>on</AuthRequired>
        <DomainRequired>off</DomainRequired>
        <LoginName>{{ username }}</LoginName>
      </Protocol>
      <Protocol>
        <Type>SMTP</Type>
        <Server>{{ smtp_server }}</Server>
        <Port>{{ smtp_port }}</Port>
        <SPA>off</SPA>
        <Encryption>Auto</Encryption>
        <SSL>on</SSL>
        <AuthRequired>on</AuthRequired>
        <UsePOPAuth>on</UsePOPAuth>
        <SMTPLast>off</SMTPLast>
        <DomainRequired>off</DomainRequired>
        <LoginName>{{ username }}</LoginName>
      </Protocol>
    </Account>
  </Response>
</Autodiscover>